body, html{
    height: 100%;
    background-repeat: no-repeat;
    background-color: #bdc9d3;
    font-family: 'Oxygen', sans-serif;
}

h2 {
    color: #3b5bcf;
    text-shadow: #0c0e10 0px 0px 1px;
    text-align: center;

}

table {
    width: 300px;
    border-collapse: collapse;
    position: relative;
}
table, th, td{
    text-align: left;
    border: 2px solid #000000;
}

p {
    border: 1px solid #3b5bcf;
    padding-Left: 50%;

}
 article {
     position: absolute;
     top: 130px;
     right: 200px;
     width: 800px;
     height: 100px;
     font-family: Times New Roman;

 }
