#receipt-table {
    border-collapse: collapse;
    width: 100%;
}

#receipt-summary dt,
#receipt-summary dd {
    display: inline;
    margin: 0;
}

#receipt-summary dd::after {
    content: "";
    display: block;
}

#receipt-table td,
#receipt-table th {
    padding: 0.25em;
}

.receipt-number,
.receipt-description {
    text-align: left;
}

.receipt-quantity,
.receipt-price {
    text-align: right;
}

#receipts-id-input {
    display: inline-block;
    width: auto;
}