.selected {
    background: #ccc;
}

#refunds-table {
    border-collapse: collapse;
    width: 100%;
}

#refunds-tbody tr {
    cursor: pointer;
}

#refunds-summary dt,
#refunds-summary dd {
    display: inline;
    margin: 0;
}

#refunds-summary dd::after {
    content: "";
    display: block;
}

#refunds-table td,
#refunds-table th {
    padding: 0.25em;
}

.refunds-number,
.refunds-description {
    text-align: left;
}

.refunds-quantity,
.refunds-price,
.refunds-refunded {
    text-align: right;
}

#refunds-id-input {
    display: inline-block;
    width: auto;
}

.refunds-amount > dt,
.refunds-amount > dd {
    display: inline-block;
    padding: 0;
}

.refunds-amount > dd:;after {
    content: "";
    display: block;
}

.refunds-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
}
