.selected {
    background: #ccc;
}

.transaction-main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
}

.transaction-left {
    flex-grow: 1;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.transaction-table-container {
    flex-grow: 1;
    overflow: auto;
}

.transaction-right {
    padding: 1em;
}

.transaction-table {
    border-collapse: collapse;
    width: 100%;
}

.transaction-row {
    cursor: pointer;
}

.transaction-table td
.transaction-table th {
    padding: 0.25em;
}

.transaction-number,
.transaction-description {
    text-align: left;
}

.transaction-quantity,
.transaction-price {
    text-align: right;
}

.transaction-error {
    text-align: center;
    font-weight: bold;
}

.transaction-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
}

#transaction-number-input {
    width: auto;
    display: inline-block;
}

.transaction-total > dt {
    display: inline;
}

.transaction-total > dd {
    display: inline;
    font-weight: bold;
    margin: 0;
}

.transaction-total > dd::after {
    content: "";
    display: block;
}